.App {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lastfm-song-data {
    display: flex;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input[type='text'] {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: #1db954;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 25%;
    align-self: end;
}

.song-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.image-container {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.summary-pic-container img{
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}
.tag-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 0;
}

.tag-list li {
    margin: 5px;
    padding: 5px 10px;
    background-color: #1db954;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.top-tracks {
    margin: 1rem;
    width: 90%;
}

.top-tracks h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.track-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 90%;
}

.track-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.track-list li:last-child {
    margin-bottom: 0;
}

.image-container-track {
    flex: 0 0 4rem;
    margin-right: 1rem;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    border-radius: 4px;
}

.image-container img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.track-info {
    flex: 1;
}

.track-info h3 {
    font-size: 1.2rem;
    margin: 0 0 0.25rem;
}

.track-info h4 {
    font-size: 1rem;
    margin: 0 0 0.5rem;
    font-weight: 500;
    color: #666;
}

.track-info p {
    font-size: 0.9rem;
    margin: 0;
    color: #999;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.summary-pic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.grid-container h2{
    margin:0;
}
.tag-list {
    grid-column: 1 / -1;
}
.input-layout{
    display: flex;
    flex-direction: column;
    width: 75%;
}
